language: java
jdk: oraclejdk8
if: tag IS blank
before_install:
 - git checkout -b master
 - git checkout $TRAVIS_BRANCH
install: 
 - ./gradlew setupCiWorkspace
script: 
 - |
    if [ "$TRAVIS_PULL_REQUEST" == false ]; then
      if [ "$TRAVIS_BRANCH" == "release/1.12" ]; then
        ./gradlew build makeChangelog curseforge299755 githubRelease
      else
        if [ "$TRAVIS_BRANCH" == "pre-release" ]; then
          ./gradlew build makeChangelog curseforge299755 githubRelease
        else
          if [ "$TRAVIS_BRANCH" == "dev/1.12.2" ]; then
            ./gradlew build makeChangelog githubRelease
          else
            ./gradlew build
          fi
        fi
      fi
    else
      ./gradlew build
    fi

notifications:
    slack: wip-name:uZWumWJ6i8idAwHoV0rg1XP2
